.main {
  display: flex;
  flex-direction: column;
  height: fit-content;
  overflow: visible;
}

.body {
  display: flex;
  flex-direction: column;
  background-image: url('/AnnetteLoke/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 7% 12%;
  width: 100%;
}

.heroContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.heroTextContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.heroText {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 800;
  font-size: calc(1.2rem + 1.2vw);
}

.uxDesigner {
  font-size: calc(1.6rem + 1.6vw);
  font-weight: 700;
  color: #55C0CF;
}

.description {
  font-size: calc(0.5rem + 0.5vw);
  margin-top: calc(1rem + 2.5vh);
  line-height: 1.5;
}

.link {
  color: #55C0CF;
  text-decoration: none;
}

.profilePicture {
  height: calc(8rem + 8vw);
  width: calc(8rem + 8vw);
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  row-gap: calc(1rem + 1vh);
  width: 100%;
  margin-top: 10%;
}

.linkContainerLink {
  text-decoration: none;
  color: white;
  height: 20%;
  position: relative;
  overflow: hidden;
}

.linkImg {
  width: 100%;
  height: calc(7rem + 23vh);
  object-fit: cover;
  border-radius: 15px;
  transition-duration: 0.8s;
}

.linkContainerLink:hover .linkImg{
  filter: brightness(50%);
}

.linkContainerLink:hover .linkDescriptionContainer {
  bottom: calc(1rem + 1vh);
  opacity: 1;
}

.linkTitle {
  position: absolute;
  font-size: calc(0.6rem + 0.6vw);
  color: white;
  top: calc(1rem + 1vh);
  left: calc(1rem + 1vh);
  z-index: 10;
}

.linkDescriptionContainer {
  position: absolute;
  color: white;
  opacity: 0;
  bottom: calc(-10% + 1rem + 1vh);
  left: calc(1rem + 1vh);
  transition-duration: 0.8s;
  z-index: 10;
}

.linkDescriptionHeader {
  color: #B8B8B8;
  font-weight: 500;
}

.socialsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: calc(1rem + 1vw);
  width: 100%;
  justify-content: center;
  margin-top: calc(3rem + 3vh);
}

.socialLinkImg {
  width: calc(1.5rem + 1.5vw);
  height: auto;
}



@media (max-width: 750px) {
  .body {
    padding: 6% 10%;
  }

  .heroText {
    font-size: calc(1.1rem + 1.1vw);
  }

  .uxDesigner {
    font-size: calc(1.4rem + 1.4vw);
  }

  .description {
    margin-top: calc(1rem + 1.5vh);
  }

  .linkImg {
    height: calc(5rem + 20vh);
  }

  .linkTitle {
    top: calc(0.7rem + 0.7vh);
    left: calc(0.7rem + 0.7vh);
  }
  
  .linkDescriptionContainer {
    bottom: calc(-10% + 0.7rem + 0.7vh);
    left: calc(0.7rem + 0.7vh);
  }
}

@media (max-width: 600px) {
  .profilePicture {
    height: calc(6rem + 7vw);
    width: calc(6rem + 7vw);
    align-self: center;
  }

  .heroText {
    font-size: calc(1rem + 1vw);
  }

  .uxDesigner {
    font-size: calc(1.3rem + 1.3vw);
  }

  .description {
    font-size: calc(0.4rem + 0.4vw);
  }

  .linkImg {
    height: calc(4rem + 17vh);
  }
}