.main {
  display: flex;
  flex-direction: column;
  height: fit-content;
  overflow: visible;
}

.body {
  display: flex;
  flex-direction: column;
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: calc(3rem + 3vh) calc(5rem + 5vw);
}

.heroContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.heroTextContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.heroText {
  font-size: calc(1.2rem + 1.2vw);
}

.uxDesigner {
  font-size: calc(1.6rem + 1.6vw);
  color: #55C0CF;
}

.description {
  font-size: calc(0.5rem + 0.5vw);
  margin-top: calc(1.5rem + 1.5vh);
}

.link {
  color: #55C0CF;
  text-decoration: none;
}

.profilePicture {
  height: calc(8rem + 8vw);
  width: calc(8rem + 8vw);
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  row-gap: calc(1rem + 1vh);
  width: 100%;
  margin-top: 10%;
}

.linkContainerLink {
  text-decoration: none;
  color: white;
  height: 20%;
  position: relative;
  transition-duration: 0.3s;
}

.linkContainerLink:hover {
  opacity: 0.8;
}

.linkTitle {
  position: absolute;
  font-size: calc(0.6rem + 0.6vw);
  color: white;
  top: calc(0.5rem + 0.5vh);
  left: calc(0.5rem + 0.5vh);
}

.linkImg {
  width: 100%;
  height: calc(5rem + 20vh);
  object-fit: cover;
  border-radius: 15px;
}
