.main {
  display: flex;
  flex-direction: column;
  height: fit-content;
  overflow: visible;
}

.fold {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 12vh);
  padding-bottom: 25%;
}

.foldTextTop {
  font-size: calc(1.6rem + 1.6vw);
}

.foldTextBottom {
  font-size: calc(2rem + 2vw);
  color: #3568DF;
}

@keyframes fadeInFromBottom {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.foldTextTop {
  opacity: 0;
  animation: fadeInFromBottom 0.8s ease-out forwards;
}

.foldTextBottom {
  opacity: 0;
  animation: fadeInFromBottom 0.8s ease-out forwards;
  animation-delay: 0.2s;
}


.foldBackground {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 7% 12%;
  padding-bottom: 15%;
  width: 100%;
}

.heroContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.heroTextContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.heroText {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 800;
  font-size: calc(1.2rem + 1.2vw);
}

.uxDesigner {
  font-size: calc(1.6rem + 1.6vw);
  font-weight: 700;
  color: #55C0CF;
}

.description {
  font-size: calc(0.5rem + 0.5vw);
  margin-top: calc(1rem + 2.5vh);
  line-height: 1.5;
}

.link {
  color: #55C0CF;
  text-decoration: none;
}

.profilePicture {
  height: calc(8rem + 8vw);
  width: calc(8rem + 8vw);
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  row-gap: calc(5rem + 5vh);
  width: 100%;
  margin-top: 10%;
}

.linkRowImgLeftContainer {
  width: calc(15vh + 15rem);
  height: auto;
  object-fit: contain;
  margin-right: -5vw;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.linkRowImgRightContainer {
  width: calc(15vh + 15rem);
  height: auto;
  object-fit: contain;
  margin-left: -5vw;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.linkRowImgLeftContainerNoHover, .linkRowImgRightContainerNoHover {
  width: calc(15vh + 15rem);
  height: auto;
  object-fit: contain;
  margin-right: -5vw;
  z-index: 1;
}

.linkRowImgRightContainer:hover, .linkRowImgLeftContainer:hover {
  transform: scale(1.05);
}

.linkRowImg {
  width: 100%;
}

.linkRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  column-gap: 0;
}

.linkContainerLink {
  text-decoration: none;
  color: black;
  height: calc(13rem + 16vh);
  width: 65%;
  position: relative;
  overflow: hidden;
  border-radius: 22px;
  transition: all 0.3s ease-in-out;
}

.linkContainerLinkNoHover {
  text-decoration: none;
  color: black;
  height: calc(13rem + 16vh);
  width: 65%;
  position: relative;
  overflow: hidden;
  border-radius: 22px;
  transition: all 0.3s ease-in-out;
}

.linkContainerLink:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Stronger shadow */
  transform: translate(2px, -2px); /* Moves 5px right and 5px up */
}

.linkContainerLinkRight {
  margin-left: -5vw;
}

.linkContainerLinkLeft {
  margin-right: -5vw;
}

.linkNoticeContainer {
  position: absolute;
  top: calc(1rem + 1vh);
  right: calc(1rem + 1vh);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.linkNoticeNotice {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F95858;
  color: #FFF5F5;
  padding: 8px 20px;
  align-items: flex-start;
  gap: 12px;
  font-family: Montserrat;
  border-radius: 10px;
  margin-top: calc(0.5rem + 0.5vh);
}

.linkNoticeImg {
  width: 20px;
  height: 20px;
}

.linkTitle {
  position: absolute;

  font-family: Montserrat;
  font-size: calc(0.8rem + 0.9vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  top: calc(1rem + 1vh);
  z-index: 10;
  width: 70%;
}

.linkTitleInNotice {
  font-family: Montserrat;
  font-size: calc(0.8rem + 0.9vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 10;
  width: 70%;
}

.linkContainerLinkLeft .linkTitle, .linkContainerLinkLeft .linkTitleInNotice {
  left: calc(1rem + 1vh);
}

.linkContainerLinkRight .linkTitle, .linkContainerLinkRight .linkNoticeContainer {
  right: calc(1rem + 1vh);
  text-align: right;
}

.linkDescriptionContainer {
  position: absolute;
  bottom: calc(1rem + 1vh);
  transition-duration: 0.8s;
  z-index: 10;
}

.linkContainerLinkLeft .linkDescriptionContainer {
  left: calc(1rem + 1vh);
}

.linkContainerLinkRight .linkDescriptionContainer {
  right: calc(1rem + 1vh);
  text-align: right;
}

.linkDescriptionHeader {
  font-family: Montserrat;
  font-size: calc(0.6rem + 0.7vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.5rem;
}

.linkDescriptionText {
  font-family: Montserrat;
  font-size: calc(0.4rem + 0.5vw);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.socialsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: calc(1rem + 1vw);
  width: 100%;
  justify-content: center;
  margin-top: calc(3rem + 3vh);
}

.socialLinkImg {
  width: calc(1.5rem + 1.5vw);
  height: auto;
}



@media (max-width: 750px) {
  .body {
    padding: 6% 10%;
  }

  .heroText {
    font-size: calc(1.1rem + 1.1vw);
  }

  .uxDesigner {
    font-size: calc(1.4rem + 1.4vw);
  }

  .description {
    margin-top: calc(1rem + 1.5vh);
  }

  .linkImg {
    height: calc(5rem + 20vh);
  }

  .linkTitle {
    top: calc(0.7rem + 0.7vh);
    left: calc(0.7rem + 0.7vh);
  }
  
  .linkDescriptionContainer {
    bottom: calc(-10% + 0.7rem + 0.7vh);
    left: calc(0.7rem + 0.7vh);
  }
}

@media (max-width: 600px) {
  .profilePicture {
    height: calc(6rem + 7vw);
    width: calc(6rem + 7vw);
    align-self: center;
  }

  .heroText {
    font-size: calc(1rem + 1vw);
  }

  .uxDesigner {
    font-size: calc(1.3rem + 1.3vw);
  }

  .description {
    font-size: calc(0.4rem + 0.4vw);
  }

  .linkImg {
    height: calc(4rem + 17vh);
  }
}