.nav {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: calc(0.75rem + 0.75vh) calc(1.5rem + 1.5vw);
    width: 100vw;
    height: 12vh;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.linkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: calc(1.5rem + 1.5vw);
}

.link {
    font-size: 14px;
    text-decoration: none;
    color: #000000;
}